<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Titanium Javascript API Reference: Desktop</title>
	<link rel="stylesheet" href="../css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<script src="../scripts/mootools.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/paintbrush.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/paintbrush.javascript.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		window.addEvent("domready", function(){
			$$('pre').each(function(block){
				var code = block.getElement("code");
				if (code) {
					block.set("text", code.get("text"));
				}
				block.paint("JavaScript");
			})
		})
	</script>
</head>

<body>

<div id="header">
</div>

<div id="main">
<div id="navigation">
</div>
<div id="content">
</div>
</div>
<div class="clarity"></div>
<div id="footer">
</div>

</body>
</html>
